@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua');

*{
    margin: 0;
    padding: 0;    
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#firstpage{
    background-image: url('../images/FotoJet.jpg');
    background-size: cover;
    background-position: left; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: auto;
    transition:margin-left 0.5s;
    width: 100%; 
}

.heading{
    width: 25%;
    font-size: 30px;
    
    
}
#mainheading{
    font-family: 'Glass Antiqua', cursive;
    padding-left: 1%; 
    text-align: center;      
}
#para1{
    padding-top: 5%;
    padding-left: 1%;
    width: 32%;
    text-align: left;
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
}
#para2{
    padding-top: 3%;
    padding-left: 2%;
    width: 40%;
    font-family: 'Dancing Script', cursive;
    text-align: left;
    font-size: 18px;
}
#intro{
    width: 75%;
    padding: 10% 0 0 4%;
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
}

#opennav{
    background-color: transparent;
}




