*{
    margin: 0;
    padding: 0;    
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#firstpage{
    background-image: url('./images/backlit-beach-dawn-240514.jpg');
    background-size: cover;
    background-position: left; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: auto;
}

.heading{
    width: 25%;
    font-size: 30px;
    
    
}